.controls {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-right: -10px;
  margin-bottom: -10px;
}

.controls__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.controls__item:last-child {
  margin-right: 0;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox {
  display: none;
}

.controls__checkbox:checked ~ .controls__tag {
  background-color: #b9eae4;
}