.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__content{
  right: 0;
  opacity: 1;
}

.dropdown__content {
  position: absolute;
  top: 100%;
  right: -9999px;
  background-color: #d8dcdb;
  color: #18191b;
  border-radius: 9px;
  padding: 19px 16px;
  line-height: 1.7;
  margin-top: 8px;
  opacity: 0;
  transition: .4s opacity;
}

.dropdown__content::before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  right: 43px;
  bottom: 100%;
  border-bottom: 9px solid #d8dcdb;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  width: 0;
}

.dropdown__content::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  right: 0;
  bottom: 100%;
  width: 100%;
}

.dropdown__workdays {
  font-weight: bold;
  font-size: 14px;
}

.dropdown__break {
  font-size: 13px;
  font-weight: bold;
}