.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}