.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 44px;
}

.reviews__item {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.review {
  background-color: #f4f5f5;
  padding: 50px 29px 38px;
  border-radius: 13px;
}

.review__person {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.avatar {
  border-radius: 50%;
  width: 139px;
  height: 139px;
  margin-right: 26px;
}

.review__name {
  display: flex;
  color: #1a1c1e;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
  align-items: center;
}

.review__name::after {
  content: url(../../images/icons/vk-blue.png);
  height: 30px;
  width: 30px;
  margin-left: 13px;
}

.review__name:hover {
  color: #2e77a4;
  text-decoration: underline;
  font-weight: bold;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.review__tags-item {
  margin-bottom: 10px;
}

.review__title {
  color: #1a1c1e;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.review__text {
  color: #818181;
  margin-bottom: 45px;
  line-height: 1.7;
}

.review__date {
  color: #1a1c1e;
  font-size: 14px;
  font-weight: bold;
}